.elements__card-like {
    align-self: flex-end;
    cursor: pointer;
    margin: 0 0 6px 0;
    width: 22px;
    height: 19px;
    background-image: url(./../../../images/cards/card-like.svg);
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  
  .elements__card-like:hover {
    opacity: 0.5;
  }
