.profile__edit-form {
	width: 24px;
	height: 24px;
	margin: 0;
	grid-column: 2;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../../../images/edit-button.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 10px;
	align-self: center;
	border: 1px solid #ffffff;

	/*background-color: transparent;*/
}

.profile__edit-form:hover {
	transition: 0.7s ease-in-out;
	cursor: pointer;
	opacity: 0.6;
}

@media screen and (max-width: 875px) {
	.profile__edit-form {
		position: absolute;
		right: -5px;
		top: 15px;
	}
}

@media screen and (max-width: 394px) {
	.profile__edit-form {
		width: 18px;
		height: 18px;
		right: 15px;
		top: 8px;
		background-size: 7.5px;
	}
}