.popup__submit-button {
    width: 100%;
    margin: 32px 0 0 0;
    height: 50px;
    border-radius: 2px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    border-style: none;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 765px) {
    .popup__submit-button {
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        height: 46px;
    }
}

.popup__submit-button:hover {
    opacity: 80%;
}