.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}



@media screen and (max-width: 875px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 31.6px;
  }
}

@media screen and (max-width: 575px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}