.header__logo {
    max-width: 142px;
    margin: 0;
}


@media screen and (min-width: 544px) and (max-width: 1152px) {
    .header__logo {
        width: 22.5863971%;
    }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
    .header__logo {
        width: 32.41875%;
        margin-left: 8.4375%;
    }
}