.elements {
    max-width: 880px;
    padding: 0;
    margin: 51px auto 0;
}

@media screen and (min-width: 768px) and (max-width: 1152px) {
    .elements {
        margin-top: 44.5px;
        max-width: calc(282px * 2 + 17px);
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .elements {
        max-width: 282px;
        margin-top: 36px;
    }
}