.profile__title {
	max-width: 336px;
	grid-row: 2;
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@media screen and (max-width: 394px) {
  .profile__title {
		max-width: 282px;
		font-size: 14px;
		line-height: 17px;
	}
}
