.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(./../../../images/close-icon.svg);
    background-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    background-position: center center;
    border: none;
    background-repeat: no-repeat;
    right: -40px;
    top: -40px;
    padding: 0;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 580px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0px;
        /* top: -36px; */
        background-size: 20px;
    }
}

.popup__close:hover {
    opacity: 60%;
    cursor: pointer;
}