.profile__info {
	max-width: 336px;
	display: grid;
	row-gap: 16px;
	column-gap: 18px;
	margin-right: auto;

}

@media screen and (max-width: 875px) {
	.profile__info {
		display: flex;
		flex-direction: column;
		margin: 0 auto 36px;
		width: 100%;
		row-gap: 0;
		text-align: center;
		position: relative;
		box-sizing: border-box;
	}
}