.footer {
    max-width: 318px;
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 67px calc((100% - 880px) / 2) 0;
    font-family: 'Inter', Arial, sans-serif;
  }

  
  @media screen and (max-width: 320px) {
    .footer {
      max-width: 282px;
      margin: 48px auto 0;
      font-size: 14px;
      line-height: 17px;
    }
  }
  