.popup__input {
    width: 100%;
    display: block;
    min-height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 5px;
}
.popup__input:focus {
	outline: none;
}

/* .popup__input:invalid {
    border-bottom: 1px solid #FF0000;
} */

.popup__input:last-of-type {
	margin-top: 28px;
}
