.profile__add-item {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    background-image: url(./../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: #000;
}

@media screen and (max-width: 875px) {
	.profile__add-item {
		min-width: 282px;
        background-size: 16px;
		position: static;
	}
}
